<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<style>
h1 {
	background-color: white;
     text-align: center;
}

html, body {
	background-image:
		url("https://media.istockphoto.com/photos/striped-soccer-field-picture-id472347896?k=20&m=472347896&s=612x612&w=0&h=rLYy4-lp9h7LWi2MNtW8ntTpVuj3LIlup2nr7fAHlUE=");
	height: 100%;
}

html {
	display: table;
	margin: auto;
	background-color: white;
}

body {
	display: table-cell;
	vertical-align: middle;
}

table {
	background-color: white;
}
</style>
<head>
<title>Ottelulista</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>

	<h1>Ruolan Ritareiden Ottelulista</h1>

	<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Päivämäärä</th>
			<th>Kello</th>
			<th>Kotijoukkue</th>
			<th>Vierasjoukkue</th>
			<th>Tulos</th>
			<th>Maalintekijät</th>
			<th>Kenttä</th>
			<th></th>
			<th></th>
		</tr>

		<tr th:each="ottelu : ${ottelut}">
			<td th:text="${ottelu.id}"></td>
			<td th:text="${ottelu.pvm}"></td>
			<td th:text="${ottelu.kello}"></td>
			<td th:text="${ottelu.kjoukkue}"></td>
			<td th:text="${ottelu.vjoukkue}"></td>
			<td th:text="${ottelu.tulos}"></td>
			<td th:text="${ottelu.maalintekija}"></td>
			<td th:text="${ottelu.kentta.name}"></td>
			<td><a th:href="@{/poista/{id}(id=${ottelu.id})}"
				class="btn btn-xs btn-danger">Delete</a></td>
	</table>
	<a class="btn btn-success" href="/lisaa">Lisaa ottelu</a>