<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ottelut</title>

</head>
<body>

<h1>Lis‰‰ ottelu</h1>

<form th:object="${ottelu}" th:action="@{save}" action="#" method="post">

<div style="clear: both; display: block; height: 10px;"></div>

<label for ="kjoukkue">Kotijoukkue</label> <input type="text" id="kjoukkueid"
th:field="*{kjoukkue}"/>

<div style="clear: both; display: block; height: 10px;"></div>

<label for="vjoukkue">Vierasjoukkue</label> <input type="text"
th:field="*{vjoukkue}" />

<div style="clear: both; display: block; height: 10px;"></div>

<label for="tulos">Tulos:</label><input type="text" th:field="*{tulos}" />

<div style="clear: both; display: block; height: 10px;"></div>

<label for="deplist">Kentt‰</label> <select id="deplist" th:field="*{kentta}"
class="form-control"/>
<option th:each="kentta: ${kentat}" th:value="${kentta.kenttaid}" th:text="${kentta.nimi}"></option>
</select>

<label for="maalintekija">Maalintekij‰t:</label> <input type="text" th:field="*{maalintekijat}"/>
</form>

 